<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" throwExceptions="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="file" 
              xsi:type="File"
              layout="${longdate} ${level:uppercase=true} ${message}"
              fileName="C:/applog.log"
              archiveEvery="Day"
              archiveFileName="C:/logs/applog.{#####}.log"
              archiveNumbering="Sequence"
              keepFileOpen="true"
              encoding="iso-8859-2"
              maxArchiveFiles="32"
    />

      <target name="console" xsi:type="Debugger"/>
      <target name="f" xsi:type="File" fileName="C:/unittestlog.txt"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>

  </nlog>
</configuration>